@import "tailwindcss";

@theme {
  --color-polaris-green: #008060;
  --color-polaris-bg: #f6f6f7;
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-[var(--color-polaris-bg)] text-gray-900 antialiased;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
